/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* outline: 1px solid black; */ }

body {
  font-family: 'Roboto', 'Noto Sans TC', sans-serif;
  line-height: 1.5; }

a {
  text-decoration: none;
  display: block; }

a:hover {
  opacity: 0.6; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

header {
  background-color: #AA0601; }

h2 {
  font-size: 36px; }

h3 {
  font-size: 48px;
  color: #650300;
  text-align: center;
  font-weight: bold;
  margin-bottom: 32px; }

h4 {
  font-size: 48px;
  font-style: italic;
  color: #AA0601;
  font-weight: bold;
  text-align: center; }

h5 {
  margin-bottom: 72px; }

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 12px; }

.text-white {
  color: #FFFFFF; }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.header-box {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.menu a {
  font-size: 20px;
  padding: 25px; }

.banner {
  background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-header.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #650300;
  text-align: right;
  padding-top: 296px;
  padding-bottom: 296px; }
  .banner .banner-box {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
    .banner .banner-box .banner-subtitle {
      font-size: 64px;
      font-weight: bold; }
    .banner .banner-box .banner a {
      display: inline-block;
      padding: 6px 12px;
      font-size: 20px;
      color: #FFFFFF;
      background-color: #AA0601; }
      .banner .banner-box .banner a:hover {
        background-color: #650300; }

.pro {
  background-color: #FBF2F2;
  padding-top: 80px;
  padding-bottom: 80px; }
  .pro .pro-box {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .pro .pro-box .pro-card {
      width: 23%;
      text-align: center; }
      .pro .pro-box .pro-card img {
        width: 83px;
        height: auto; }
      .pro .pro-box .pro-card .pro-title {
        font-size: 24px;
        font-weight: bold;
        color: #650300;
        margin-bottom: 8px; }
      .pro .pro-box .pro-card .pro-text {
        -moz-text-align-last: left;
             text-align-last: left;
        line-height: 24px; }
  .pro .classic {
    padding-top: 80px;
    padding-bottom: 80px; }
    .pro .classic .classic-title {
      margin-bottom: 48px; }
    .pro .classic .classic-box {
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .pro .classic .classic-box .classic-card {
        width: 32%; }
  .pro .cobrand {
    padding-top: 80px;
    padding-bottom: 80px;
    background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/index-bg.png");
    background-size: cover; }
    .pro .cobrand .cobrand-box a {
      background-color: #FFFFFF; }
  .pro .recommend {
    padding-top: 80px;
    padding-bottom: 80px; }
    .pro .recommend .recommend-box {
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .pro .recommend .recommend-box .recommend-card {
        width: 23%; }
        .pro .recommend .recommend-box .recommend-card .recommend-text {
          padding: 16px;
          -webkit-box-shadow: 0px 2px 6px #00000029;
                  box-shadow: 0px 2px 6px #00000029; }
        .pro .recommend .recommend-box .recommend-card .recommend-date {
          font-size: 14px;
          color: #707070; }
  .pro .contact {
    background-color: #FBF2F2;
    padding-top: 80px;
    padding-bottom: 80px; }
    .pro .contact .contact-subtitle {
      font-size: 20px;
      margin-bottom: 24px; }
    .pro .contact .contact-form {
      line-height: 24px;
      margin-bottom: 16px; }
      .pro .contact .contact-form p {
        margin-bottom: 8px; }
      .pro .contact .contact-form input {
        width: 100%;
        background-color: #FBF2F2;
        margin-bottom: 8px;
        padding: 6px 0 6px 12px; }
        .pro .contact .contact-form input .feedback {
          padding: 6px 0 106px 12px; }
        .pro .contact .contact-form input .agree-content {
          width: 4%; }
      .pro .contact .contact-form .agree-box {
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        margin-bottom: 48px; }
      .pro .contact .contact-form .send-box {
        text-align: center; }
        .pro .contact .contact-form .send-box button {
          width: 31%;
          font-weight: bold;
          padding: 16px 0;
          background-color: #AA0601;
          color: #FFFFFF; }
          .pro .contact .contact-form .send-box button:hover {
            color: #AA0601;
            background-color: #FFFFFF; }
  .pro .footer {
    background-color: #AA0601;
    padding-top: 48px; }
    .pro .footer .footer-navbar {
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-bottom: 24px; }
      .pro .footer .footer-navbar .footer-navbar-menu {
        width: 40%;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding-left: 0px; }
        .pro .footer .footer-navbar .footer-navbar-menu a {
          gap: 24px; }
      .pro .footer .footer-navbar .footer-navbar-media {
        width: 15.75%;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        gap: 32px; }
    .pro .footer .footer-contact {
      font-size: 36px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .pro .footer .footer-contact span {
        font-size: 36px; }
      .pro .footer .footer-contact .footer-contact-box {
        padding-bottom: 32px;
        border-bottom: 1px solid #fff; }
        .pro .footer .footer-contact .footer-contact-box .footer-contact-phone, .pro .footer .footer-contact .footer-contact-box .footer-contact-letter {
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          gap: 20px; }
        .pro .footer .footer-contact .footer-contact-box .footer-navbar-media-s {
          display: none; }
    .pro .footer .footer-copyright {
      padding-top: 8px;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .pro .footer .footer-copyright .footer-copyright-box {
        gap: 48px; }
        .pro .footer .footer-copyright .footer-copyright-box a {
          padding: 24px 0; }
  @media (max-width: 992px) {
    .pro .container {
      max-width: 720px; }
    .pro .banner {
      background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-header-sm.png"); }
    .pro .pro-box {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
    .pro .pro-card {
      width: 48%; }
    .pro .classic-box, .pro .cobrand-box {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .pro .classic-card {
      width: 47%;
      margin-bottom: 24px; }
    .pro .cobrand-card {
      width: 92%; }
    .pro .recommend-box {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      margin-bottom: -24px; }
    .pro .recommend-card {
      width: 48%;
      margin-bottom: 24px; }
    .pro .send-box button {
      width: 46%; }
    .pro .footer-navbar-menu {
      width: 65%; }
    .pro .footer-navbar-media {
      width: 26%; } }
  @media (max-width: 768px) {
    .pro .container {
      max-width: 666px; }
    .pro .banner-subtitle {
      font-size: 24px; }
    .pro h3 {
      font-size: 36px; } }
  @media (max-width: 603px) {
    .pro .container {
      max-width: 603px; }
    .pro .header-box {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding-right: 0;
      padding-left: 0; }
    .pro .logo {
      padding-top: 16px;
      padding-bottom: 16px; }
    .pro .menu {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      width: 100%; }
    .pro .menu li {
      width: 50%;
      text-align: center; }
    .pro .menu a {
      border: 1px solid #FFFFFF;
      padding-top: 12px;
      padding-bottom: 12px; }
    .pro .banner {
      background-size: cover;
      padding-top: 144px;
      padding-bottom: 144px; }
    .pro h2 {
      font-size: 16px; }
    .pro .banner-subtitle {
      font-size: 24px;
      margin-bottom: 8px; }
    .pro .pro, .pro .classic, .pro .cobrand, .pro .recommend, .pro .contact {
      padding-top: 40px;
      padding-bottom: 40px; }
    .pro h3 {
      font-size: 24px;
      margin-bottom: 24px; }
    .pro .pro-box, .pro .recommend-box {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
    .pro .pro-card, .pro .classic-card, .pro .cobrand-card {
      width: 100%;
      margin-bottom: 24px; }
    .pro .recommend-card {
      width: 100%;
      margin-bottom: 16px; }
    .pro .contact-subtitle {
      font-size: 16px; }
    .pro input.agree-content {
      width: 10%; }
    .pro .send-box button {
      width: 100%; }
    .pro .footer-navbar {
      display: none; }
    .pro .footer, .pro .footer-copyright {
      padding-top: 24px; }
    .pro .footer-contact-box {
      padding-bottom: 24px; }
    .pro .footer-contact, .pro .footer-contact span {
      font-size: 16px; }
    .pro .footer-copyright, .pro .footer-copyright-box {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      gap: 8px; }
    .pro .footer-copyright-box a {
      padding-top: 0;
      padding-bottom: 0; }
    .pro .footer-copyright-box i {
      margin-right: 8px; }
    .pro .footer-navbar-media-s {
      display: block;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 22%;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      gap: 8px; }
    .pro .footer-contact-content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    .pro .footer-contact-phone, .pro .footer-contact-letter {
      gap: 4px; } }

/*# sourceMappingURL=all.css.map */
